AppBundle\Entity\User:
    properties:
        name:
            - NotBlank: ~
            - Regex: 
                pattern: '/^[[:alpha:]]+$/u'
                message: El nombre no es válido.
        email:
            - Email:
                message: El correo "{{ value }}" no es válido.
                checkMX: true
            
        password:
            - NotBlank: ~
            
AppBundle\Entity\Folder:
    properties:
        name:
            - NotBlank: ~
            - Regex: 
                pattern: '/\s/'
                match:   false
                message: El nombre de la carpeta no puede contener espacios.

            

        
       
        
