{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}
<h1>HOLAAAAAAA</h1>
<label><a href="{{path('uploadFile')}}">Subir Archivos o Crear Directorio</a>
    <hr>
  
{% endblock %}