{% extends "base.html.twig" %}

{% block title %}Upload{% endblock %}


{% block body %}
<h1>Welcome</h1>
{{ form_start(form, {'action':'' , 'method':'POST' , 'enctype' : 'multipart/form-data'}) }}

{{ form_end(form) }}

<h1>Folder</h1>
<form method="POST" >
    <input type="text" placeholder="Nombre" name="name">
    <br>
    <input type="submit" value="Crear" name="crear">
   
</form>

{% endblock %}