{% extends "base.html.twig" %}

{% block title %}AppBundle:Login:singUp{% endblock %}


{% block body %}
<h1>Welcome to the Login:singUp page</h1>
{{ form_start(form, {'action':'' , 'method':'POST'}) }}

{{ form_end(form) }}

{% endblock %}

