{% extends "base.html.twig" %}

{% block title %}Subir archivo{% endblock %}

 {% block LogSign %}   
 <link href="{{asset('vendor/bootstrap/css/RegistrationForm.css')}}" rel="stylesheet">    
 {% endblock %}


{% block body %}   

        <form class="form-group" method="POST" action="{{path('check')}}">
        <img  type="text" class="mb-4 mx-auto d-block" src="{{asset('Resources/Pictures/U.png')}}" alt="" width="250" height="175" name="">
        <h1 class="h3 mb-3 font-weight-normal"> </h1>       
        
        <input type="file" id="ArchivoSeleccionado"  required  name="">
        
        <label for="FileName" class="sr-only">Nombre del archivo</label>
        <input type="text" id="FileName" class="form-control" placeholder="Nombre del archivo" required autofocus="" name="">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">SUBIR</button>
    </form>
    
{% endblock %}