AppBundle\Entity\Files:
    type: entity
    table: null
    repositoryClass: AppBundle\Repository\FilesRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: 255
        extension:
            type: string
            length: 255
        folderId:
            type: integer
            nullable: true
        path:
            type: string
            length: 255
            nullable: true
        createdAt:
            type: datetime
        updatedAt:
            type: datetime
            nullable: true
        userId:
            type: integer
    manyToOne:
        user:
            targetEntity: User
            inversedBy: files
            joinColumn:
                name: user_id
                referencedColumnName: id
        
        folder:
            targetEntity: Folder
            inversedBy: files
            joinColumn:
                name: folder_id
                referencedColumnName: id
                
        
    lifecycleCallbacks: {  }
