AppBundle\Entity\Folder:
    type: entity
    table: null
    repositoryClass: AppBundle\Repository\FolderRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: 255
        parentId:
            type: integer
            nullable: true
        userId:
            type: integer
        description:
            type: string
            length: 255
            nullable: true
        createdAt:
            type: datetime
        path:
            type: string
            length: 255
    manyToOne:
        user:
            targetEntity: User
            inversedBy: folders
            joinColumn:
                name: user_id
                referencedColumnName: id
        
        parentFolder:
            targetEntity: Folder
            inversedBy: childs
            joinColumn:
                name: parent_id
                referencedColumnName: id
  
    oneToMany:
        childs:
            targetEntity: Folder
            mappedBy: parentFolder
        files:
            targetEntity: Files
            mappedBy: folder
    lifecycleCallbacks: {  }
