AppBundle\Entity\User:
    type: entity
    table: null
    repositoryClass: AppBundle\Repository\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: '50'
        surname:
            type: string
            length: '50'
        role:
            type: string
            length: '15'
        email:
            type: string
            length: '50'
            unique: true
        password:
            type: string
            length: 255
    oneToMany:
        folders:
            targetEntity: Folder
            mappedBy: user
            orderBy:
                createdAt: ASC
        files:
            targetEntity: Files
            mappedBy: user
            orderBy:
                createdAt: ASC
    lifecycleCallbacks: {  }
