AppBundle\Entity\User:
    type: entity
    table: null
    repositoryClass: AppBundle\Repository\UserRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        name:
            type: string
            length: '50'
        email:
            type: string
            length: '50'
            unique: true
        password:
            type: string
            length: 255
    lifecycleCallbacks: {  }
