# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
    encoders:
        AppBundle\Entity\User:
            algorithm: bcrypt
            cost: 4
    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        autenticacion:
            entity:
                class: AppBundle:User
                property: email
        in_memory:
            memory: ~
    access_control:
        # require ROLE_ADMIN for /admin*
        - { path: ^/profile, roles: ROLE_USER }
        - { path: ^/uploadFile, roles: ROLE_USER }
        
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: 
                
            provider: autenticacion
            form_login: 
                login_path: /signIn
                check_path: /check
                default_target_path: /home
            logout:
                path: /logout
                target: /signIn
                
             
            
            # activate different ways to authenticate

            # https://symfony.com/doc/current/security.html#a-configuring-how-your-users-will-authenticate
            #http_basic: ~

            # https://symfony.com/doc/current/security/form_login_setup.html
            #form_login: ~
