<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{asset('Resources/Icons/A.ico')}}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('vendor/bootstrap/css/bootstrap.min.css')}}"/>
       
        {% block LogSign %}        
        {% endblock %}
        
    </head>
    <body>
        
        {% block stylesheets %}
        
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %} 
    </body>
</html>
